@import "./Scss/base/_colors";
.ant-list-split .ant-list-item {
  border-bottom: 1px solid #e8e8e8;
  height: 30rem;
  display: flex;
  justify-content: center;
  background: #ff5c00;
  font-size: 9rem;
  color: #d7e8d7;
  margin-bottom: 2rem;
}
.infiniteScrollbar {
  // .infinite-scroll-component__outerdiv {
  ::-webkit-scrollbar {
    display: none;
  }
}
// ::-webkit-scrollbar {
//   display: none;
// }
// }
// .hahah {
//   background-color: red;
//   color: white !important;
//   width: 5rem;
//   height: 5rem;
// }
// img {
//   width: 11rem;
// }
// body {
//   margin-top: 10rem;
// }
// .conatiner {
//   width: 80%;
//   margin: 2rem auto;
//   background-color: aquamarine;
//   display: flex;
//   justify-content: space-between;
//   h2 {
//     width: 80%;
//     margin-left: auto;
//   }
// }
.ant-pagination-item-active a,
.ant-pagination-item-active {
  // color: black !important;
  // border: none;
}
.ant-table-pagination.ant-pagination {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}

.ant-pagination {
  float: unset !important;
  text-align: center;
  .ant-pagination-item-active {
    background: #2d80b5;
    border-color: #2d80b5;
    border-radius: 50%;
  }
  .ant-pagination-item a {
    color: var(--black-fourth);
    padding-top: 1px;
    padding-bottom: 1px;
    &:hover {
      color: #2d80b5;
    }
  }
  .ant-pagination-item-active a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  .ant-pagination-prev {
    margin-right: 1rem !important;
  }
  .ant-pagination-next {
    margin-left: 1rem !important;
  }
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    background: $white !important;
    border-radius: 50%;
    box-shadow: 0 0.6px 2px 0.25px;
  }
  .ant-pagination-prev:focus .ant-pagination-item-link,
  .ant-pagination-next:focus .ant-pagination-item-link,
  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    color: var(--black-eight);
  }
  .ant-pagination-item:not(.ant-pagination-item-active) {
    border-radius: 50%;
  }
  .anticon {
    vertical-align: -1px;
    color: var(--ash-fivth);
  }
}
